<br>
<!-- end row -->
<div class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div id="music-panel" class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                </div>
                <h4 class="panel-title"><%= translate('music', 'title') %></h4>
            </div>
            <div class="panel-body">
                <form enctype="multipart/form-data"
                      style="position:relative"
                      class="form-horizontal form-bordered"
                      id="music-form">
                    <div ng-class="{hidden: !errors}">
                        <div class="alert alert-danger">
                            <ul>
                                <li ng-repeat="error in errors">{{ error.message | translate }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4"
                                       for="Music_music_name">
                                    {{ 'music_name' | translate }}
                                </label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control"
                                           id="Music_music_name"
                                           name="Music[music_name]"
                                           ng-model="Music.music_name"
                                           type="text"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4"
                                       for="Music_music_group">
                                    {{ 'music_group' | translate }}
                                </label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control"
                                           id="Music_music_group"
                                           name="Music[music_group]"
                                           ng-model="Music.music_group"
                                           type="text"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4"
                                       for="Music_music_url">
                                    {{ 'music_url' | translate }}
                                </label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control"
                                           id="Music_music_url"
                                           name="Music[music_url]"
                                           ng-model="Music.music_url"
                                           type="text"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4"
                                       for="Music_music_date">
                                    {{ 'music_date' | translate }}
                                </label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control"
                                           id="Music_music_date"
                                           name="Music[music_date]"
                                           ng-model="Music.music_date"
                                           type="text"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4"
                                       for="Music_music_description">
                                    {{ 'music_description' | translate }}
                                </label>
                                <div class="col-xs-12">
                                    <textarea class="form-control ckeditor"
                                              id="Music_music_description"
                                              name="Music[music_description]"
                                              ng-model="Music.music_description"
                                              rows="20">
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group" ng-if="!Music.isNew">
                                <label class="control-label col-md-4 col-sm-4"
                                       for="Music_music_comment">
                                    {{ 'music_comment' | translate }}
                                </label>
                                <div class="col-xs-12">
                                    <textarea class="form-control ckeditor"
                                              id="Music_music_comment"
                                              name="Music[music_comment]"
                                              ng-model="Music.music_comment"
                                              rows="20">
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4"
                                       for="Music_music_picture_default">
                                    {{ 'music_picture_default' | translate }}
                                </label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control"
                                           id="Music_music_picture_default"
                                           name="Music[music_picture_default]"
                                           ng-model="Music.music_picture_default"
                                           type="text"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4"
                                       for="Music_music_source">
                                    {{ 'music_source' | translate }}
                                </label>
                                <div class="col-md-6 col-sm-6">
                                    <select class="form-control default-select2"
                                            id="Music_music_source"
                                            name="Music[music_source]"
                                            ng-model="Music.music_source">
                                        <option value=""></option>
                                        <option value="youtube" translate>
                                            youtube
                                        </option>
                                        <option value="spotify" translate>
                                            spotify
                                        </option>
                                        <option value="deezer" translate>
                                            deezer
                                        </option>
                                        <option value="else" translate>
                                            else
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-md-2 col-sm-offset-4 col-md-offset-5">
                            <button class="btn btn-primary" ng-click="save()" type="button" style="width: 100%">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- end panel -->
    </div>
    <!-- end col-12 -->
</div>
<!-- end row -->
