<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumbs breadcrumb">
        <li>
            <a href="#/" translate>Home</a>
        </li>
        <li class="active" translate>music</li>
    </ul>
</div>
<hr style="border-color: #000; margin-top: 0; margin-bottom: 5px;">
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-primary" href="#/music/new" translate>Create</a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                </div>
                <h4 class="panel-title" translate>music</h4>
            </div>
            <div class="panel-body">
                <datatable dt-columns="MusicColumns"
                           dt-refresh="loadMusicList"
                           dt-row-actions="MusicActions"
                        >
                </datatable>
            </div>
        </div>
    </div>
</div>
