<!DOCTYPE html>
<html>
<head>
<link href="/css/playlist.css" rel="stylesheet"/>
</head>
<body>
  <div class="row header">
    <div class=col-md-2>
      <img src="/img/myPlaylist.png" alt="playlist" style="width:250px; height:200px;">
    </div>
    <div class=col-md-8>
      <h2><b>{{ x.usr_login }}</b></h2>
      <h2><b>nombre de user sur la playlist</b></h2>
      <h2><b>nombre de vues de la playlist</b></h2>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</body>
</html>
