<!DOCTYPE html>
<html>
<head>
<link href="/css/playlist.css" rel="stylesheet"/>
</head>
<body>
  <div ng-if="!!myself">
  <div class="row header">
    <div class=col-md-2>
      <img src="/img/myPlaylist.png" alt="playlist" style="width:250px; height:200px;">
    </div>
    <div class=col-md-8>
        <h1 style=" font-size:90px; font-family:Arial,Helvetica,sans-serif;  letter-spacing:5px; color:white;"><center>Playlist</center></h1>
    </div>
    <div class="col-md-2">
      <li class="{{__controller == 'playlist' ? 'active' : ''}}">
      <div href="#/playlist/new" class="bnt glyphicon glyphicon-plus" style="font-size:15px; margin-top:100px;"></div>
      <button ng-click="goTo('playlist/', 'new')" type="button" class=" btn" style="background-color:white;">Creer une nouvelle playlist</button>
    </li>
    </div>
  </div>
  <h2 style="font-family:Arial,Helvetica,sans-serif;"><center>Vos invitation en attente</center></h2>
<div class="row">
  <table class="notifTable">
    <thead>
      <tr>
        <th>Invité par </th>
        <th>Playlist</th>
        <th>validation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>iam</td>
        <td>Rap Fr</td>
        <td>
          <div class="col-md-6">
          <span class="glyphicon glyphicon-ok" style="font-size:20px; margin-top:15px;"></span>
        </div>
        <div class="col-md-6">
          <span class="glyphicon glyphicon-remove" style="font-size:20px; margin-top:15px;"></span>
        </div>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
    <h2 style="font-family:Arial,Helvetica,sans-serif;"><center>Playlist Administré</center></h2>
  <div class="row">
    <table class="notifTable" style="margin-bottom:60px;">
      <thead>
        <tr>
          <th>Gestion Playlist</th>
          <th>Derniere Musique</th>
          <th>Playlist</th>
        </tr>
      </thead>
      <tbody ng-repeat="x in userPlaylist">
        <tr>
          <td><a href="" class="glyphicon glyphicon-wrench" ng-click="goTo('playlist/', x.playlist_id)"></a></td>
          <td>Apero MrBiscotte</td>
          <td> {{ x.playlist_name }} </td>
        </tr>
      </tbody>
    </table>
    </div>
</div>
</body>
</html>
