<!DOCTYPE html>
<html>
<head>
  <link href="/css/playlist.css" rel="stylesheet"/>
</head>
<body>
  <div ng-if="playlist">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-12" style="background-color:white; opacity:0.7;">
          <div class="row align-items-center">
            <div class="col-md-5">
              <img src="/img/myPlaylist.png" alt="playlist" style="width:250px; height:200px;">
            </div>
            <div class="col-md-3" style="margin-top:30px">
              <h1 style="font-family:Arial,Helvetica,sans-serif;">{{ playlist.playlist_name }}</h1>
              <h4>Créateur de la playlist : {{ myself.usr_login }}</h3>
              <h4>Description : {{playlist.playlist_description}}</h3>
            </div>
            <div class="col-md-4" style="margin-top:60px">
              <h4>Nombre de musiques sur la playlist : {{ musics.length }}</h3>
              <h4>
                <a href="" ng-click="showFollowers()">Nombre de Followers de la playlist : {{ subscriptions.length }}</a>
              </h4>
              <ul ng-if="displayFollowers" class="collection">
                <li class="collection-item" ng-repeat="x in subscriptions">
                  <p><a href="" ng-click="goTo('user/', x.Subscriber.usr_id)">{{ x.Subscriber.usr_login}}</a></p>
                </li>
              </ul>
              <div class="row" ng-if="displayAddFollowers">
                <select class="form-control default-select" ng-model="invitation.invited_usr_id" style="width:92%">
                  <option value=""></option>
                  <option ng-repeat="x in usersForSub" value="{{ x.usr_id }}">
                    {{ x.usr_login }}
                  </option>
                </select>
                <button type="button" style="margin-left:140px;margin-top:5px;background-color:#6B92A5;color:white;" ng-click="inviteSub()" class="btn">Ok</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div ng-if="!musics.length" class="col-md-10">
      <h3 style="text-align:center"> Cette playlist n'a aucune musique </h3>
    </div>
    <div ng-if="musics.length">
      <div class="container" style="margin-bottom:20px;">
        <div class="playlist" id="{{x.music_id}}" style="height:80px;margin-top:10px;margin-bottom:0px">
          <div class="col-md-4">
            <h4 style="text-align:center">Nom de la musique</h4>
          </div>
          <div class="col-md-4">
            <h4 style="text-align:center">Artiste</h4>
          </div>
          <div class="col-md-4">
            <h4 style="text-align:center">Actions</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="musics.length">
    <div class="container" ng-repeat="x in musiclinks" style="margin-bottom:20px;">
      <div class="playlist" id="{{x.Music.music_id}}" style="height:80px;margin-top:10px;margin-bottom:0px">
        <div>
        <div class="col-md-4">
          <h5 style="text-align:center">{{ x.Music.music_name }}</h5>
        </div>
        <div class="col-md-4">
          <h5 style="text-align:center">{{ x.Music.music_group }}</h5>
        </div>
        <div class="col-md-4" style="margin-top:10px">
          <a href="" ng-click="goTo('music/', x.Music.music_id)"><span class="glyphicon glyphicon-pencil" style="margin-left:150px;color:black"></span></a>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div id="unknowPlaylist" ng-if="!playlist">
    <div class="col-md-12">
      <center><h4 style="margin-top:5%">This playlist don't exist</h4></center>
      <center><img src="/img/broken.png" id="logoBroken" style="max-width:200px;max-heigth:200px;width:auto;height:auto;margin-top:5%"></img></center>
    </div>
  </div>
</body>
</html>
