<!DOCTYPE html>
<html>
<head>
<link href="/css/playlist.css" rel="stylesheet"/>
</head>
<body>
  <div ng-if="playlist">
  <div class="row well" style="background-color:#F5F5F5; opacity:0.7;">
    <div class="col-md-6">
      <img src="/img/myPlaylist.png" alt="playlist" style="width:250px; height:200px;">
    </div>
    <div class="col-md-5">
        <h1 style="font-family:Arial,Helvetica,sans-serif;">{{ playlist.playlist_name }}<a href=""><span class="glyphicon glyphicon-pencil" ng-click='displayNameInput()' style="font-size:20px; margin-left:20px;color:black"></span></a></h1>
      <form ng-if="displayNewName === true">
        <input id="newNameInput" type="text" required></input>
        <button type="submit" ng-click='changeName()' class="btn btn-success">Ok</button>
      </form>
      <h3>Login</h3>
      <dl>
        <dt>nombre de musique sur la playlist: </dt>
        <dt>{{playlist.playlist_description}}</dt>
        <dd>modifier la playlist <span class="glyphicon glyphicon-pencil" style="font-size:15px; margin-left:20px;"></span></dd>
      </dl>
    </div>
    <div style="font-size:30px; margin-top:60px;"class="col-md-1 glyphicon glyphicon-option-vertical"></div>
  </div>
  <div ng-if="!musics.length">
    <h3> Cette playlist n'a aucune musique </h3>
  </div>
  <div ng-if="musics.length">
    <div class="container" ng-repeat="x in musics" style="margin-bottom:20px;">
      <div class="playlist" id="{{x.music_id}}" style="height:80px;margin-top:10px;margin-bottom:0px">
        <div>
        <div class="col-md-4">
          <span class="itemTitle">{{x.music_name}}</span>
        </div>
        <div class="col-md-4">
          <span class="itemTitle">{{x.duration}} 3.56</span>
        </div>
        <div class="col-md-4">
          <span class="itemTitle">Delete</span>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
<div id="unknowPlaylist" ng-if="!playlist">
  <div class="col-md-12">
  <center><h4 style="margin-top:5%">This playlist don't exist</h4></center>
  <center><img src="/img/broken.png" id="logoBroken" style="max-width:200px;max-heigth:200px;width:auto;height:auto;margin-top:5%"></img></center>
  </div>
</div>
</body>
</html>
