<!DOCTYPE html>
<html>
<head>
<link href="/css/playlist.css" rel="stylesheet"/>
</head>
<body>
  <div class="row well" style="background-color:#F5F5F5; opacity:0.7;">
    <div class="col-md-6">
      <img src="/img/myPlaylist.png" alt="playlist" style="width:250px; height:200px;">
    </div>
    <div class="col-md-5">
        <h1 style="font-family:Arial,Helvetica,sans-serif;">{{ playlist.playlist_name }}<a href=""><span class="glyphicon glyphicon-pencil" ng-click='displayNameInput()' style="font-size:20px; margin-left:20px;color:black"></span></a></h1>
      <form ng-if="displayNewName === true">
        <input id="newNameInput" type="text" required></input>
        <button type="submit" ng-click='changeName()' class="btn btn-success">Ok</button>
      </form>
      <h3>Login</h3>
      <dl>
        <dt>nombre de musique sur la playlist: </dt>
        <dt>{{playlist.playlist_description}}</dt>
        <button class="btn"style="background-color:white" ng-click="redirectTo('playlist', playlist.playlist_id + '/admin')" ng-if="myself.usr_id === playlist.playlist_creator">modifier la playlist <span class="glyphicon glyphicon-pencil" style="font-size:15px; margin-left:20px;"></span></button>
      </dl>
    </div>
    <div style="font-size:30px; margin-top:60px;"class="col-md-1 glyphicon glyphicon-option-vertical"></div>
  </div>
  <div class="container" ng-repeat="x in userPlaylist" style="margin-bottom:30px">
    <div class="playlist">
      <div class="title">
        <h3>Music Title</h3>
      </div>
      <div class="item">
        <div class="information">
          <div class="titles">
            <div class="col-md-6">
              <span class="itemTitle">Min</span>
            </div>
            <div class="col-md-6">
              <span class="itemAuthor">Share</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
