<div style="width: 100%; height: 100%;background-color:#2c2f33">
  <div class="menuH">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Peer Sound Project</span>
        <img src="/assets/logo-white.png" style="max-height:45px;max-width:45px">
        <span class="example-spacer"></span>
        <button class="example-icon" mat-icon-button (click)="refresh()">
          <mat-icon>refresh</mat-icon>
        </button>

        <button class="example-icon" mat-icon-button (click)="deco()" color="warn">
          <mat-icon color="warn">exit_to_app</mat-icon>
        </button>
        <span class="example-spacer"></span>

        <!--<mat-icon class="example-icon">delete</mat-icon>-->
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="row">

    <div class="col-md-1" style="background-color:#161a1e">
      <app-playlist-list [playlists]="plService.playlists" [nbNotif]="userService.events.length" (playlistChanged)="playlistChangedHandler($event)"></app-playlist-list>
    </div>

    <!-- <div class="col-md-2" style="background-color:#23272a">
      <app-options-pl style="height: 10%; margin:0" [playlist]="plService.selectedPl"></app-options-pl>
      <app-music-list [musics]="plService.selectedPl.MusicLink" (playMusic)="playMusicHandler($event)"></app-music-list>
    </div> -->

    <div class="col-md-2" style="background-color:#23272a">
      <app-music-list-panel [playlist]="plService.selectedPl" (playMusic)="playMusicHandler($event)"></app-music-list-panel>
    </div>

    <div class="col-md-7" style="background-color:#2c2f33;margin-top:5%;">
      <div style="height:80%;width:100%;background-color:#2c2f33;">
        <router-outlet name="homeOutlet"></router-outlet>
      </div>
      <!-- <button type="button" (click)="eee()">test</button> -->

      <div #test style="height:20%; position: relative;width=100%">
        <div style="background-color:#2c2f33;position:absolute;width:100%;bottom:0;">

          <div style="height:20%; position: relative;width=100%">
            <!-- soundcloud player -->
            <div *ngIf='musicSrcPlat === "sc"' style="background-color:#2c2f33;">
              <iframe #scPlayer id="sc-player" width="100%" height="100%" scrolling="no" frameborder="no"
                src="https://w.soundcloud.com/player/?url=https://soundcloud.com/the-outside-agency/the-outside-agency-the-sunrise">
              </iframe>
            </div>
            <!-- youtube player -->
            <div *ngIf='musicSrcPlat === "yt"' style="background-color:#2c2f33;">
              <app-yt-player [isPlaying]="this.plService.isPlaying" [url]="ytsrc"></app-yt-player>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-2" style="background-color:#23272a">
      <app-user-list style="z-index: 1000;position: absolute;top: 10%;"[playlist]="plService.selectedPl"></app-user-list>
    </div>
  </div>
</div>
<!--<div *ngIf="!loaded" style="width: 100%; height: 100%;background-color:#2c2f33">
</div>-->
