<link rel="stylesheet" href="css/style.css">
<div class="col-md-12" style="margin-top:5%">
  <center>
    <div class="col-md-8">
      <div style="color:black;font-size:15px;margin-top:4%;margin-left:52%;font-family:Whitney,Helvetica Neue,Helvetica,Arial,sans-serif">
        <p>La solution de playlist musicale multi-plateforme</p>
        <p>PeerSoundProject est un reseau de passionés de musiques</p>
        <p>Créez vos playlists depuis vos plateformes préférées, partagez les avec qui vous voulez, et devouvrez les leurs</p>
        <p>Affranchissez vous des algorythmes, faites confiances aux passionés comme vous</p>
        <p>Quels que soient vos goûts, d’autres les partagent.</p>
      </div>
    </div>
    <div class="col-md-4" style="margin-top:4%">
      <span style="font-size:13px">Fonctionne avec :</span>
      <br>
      <div style="margin-left:60%">
        <img src="/img/youtube.png" style="max-height:130px;max-width:130px;vertical-align:middle;margin-bottom:10%">
        <img src="/img/soundcloud.png" style="max-height:130px;max-width:130px;vertical-align:middle;">
      </div>
      <span style="font-size:13px">Et bientot : </span>
      <div style="margin-left:60%">
        <img src="/img/deezer.png"style="max-height:120px;max-width:120px;vertical-align:middle;">
      </div>
    </div>
    <div>
    <button class="waves-effect waves-light btn grey" style="background-color:#2d353c;width:25%;height:50px;margin-top:10%;text-rendering:optimizeLegibility" ng-click="goToDownload()"><a href="#/download"><font color="white" size="5px">Download PeerSoundProject</font></a></button>
  </div>
  </center>
</div>
