
#prev-next-controls {
  position: absolute;
  right: 0px;
  margin-top: 5px;
}

#controls {
 margin-bottom: 5px;
 margin-top: -15px;
}

#info-time {
  margin-left: 10px;
}

#info-name {
  margin-left: 35px;
}

.info {
  color: white;
  font-size: 15px;
}

button {
  color: white;
}
