body{
  background-color: white;
  font-family: Arial,Helvetica,sans-serif;
}


table.notifTable {
  font-family: Arial,Helvetica,sans-serif;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.notifTable td, table.notifTable th {
  border: 2px solid #DDDDDD;
  padding: 25px 1px;
  width: 300px;
}
table.notifTable tbody td {
  font-size: 17px;
}
table.notifTable thead {
    border-bottom: 2px solid #E2FCFC;
    background-color: #222222;
}
table.notifTable thead th {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background-color: #222222;
  color: white;
}
table.notifTable tfoot td {
  font-size: 8px;
}

.newPlaylist{
  border: 5px solid grey;
  width: 1100px;
  height: 400px;
  border-radius: 10px;
  background-color: #D1D1D1;
  opacity: 0.6;
}

.btn{
  border: none; /* Remove borders */
  padding: 5px 15px; /* Add some padding */
  cursor: pointer;
  border-radius: 10px;
}


.form-control{
  border-radius: 5px;

}

.label-txt{
  font-family: Arial,Helvetica,sans-serif;
  font-size: 20px;
}


.news{
  width: 455px;
  position: relative;
  height: 150px;
  border: 1px solid #c0c0c0;
  clear: both;
  text-align: center;
  margin:auto;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
}
