body{
  background-color: white;
  font-family: Arial,Helvetica,sans-serif;
}
/* Message.ejs*/
.news{
  width: 100%;
  position: relative;
    height: 100%;
    border: 1px solid #c0c0c0;
    clear: both;
    text-align: center;
    margin:auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color:white;
}

.text{
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
  margin-top: 5px;
}

/* User.ejs*/

.user {
  transition:All 1s ease;
  -webkit-transition:All 1s ease;
  -moz-transition:All 1s ease;
  -o-transition:All 1s ease;
  background-color: #fff;
  margin: auto;
  margin-top: 55px;
  margin-bottom: 50px;
  display: block;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #E4E4E4;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.4);
  clear: both;
}

.user .itemTitle {
  margin: 0;
  margin-bottom: 5px;
  font-size: 30px;
  font-family: Arial,Helvetica,sans-serif;
}

.user .information {
  width: 100%;
  display: block;
  float: left;
  text-align: center;
  padding: 50px 0px;
  margin: 0;
}

.user .title {
  width: 100%;
  text-align: center;
}

.bouttonfollow{
  border-top: 1px solid #E4E4E4;
  text-align: center;
}

.test:hover{
  background-color: white;
}

/* List.ejs*/
table.notifTable {
  font-family: Arial,Helvetica,sans-serif;
  width: 100%;
  margin-top: 40px;
  text-align: center;
  border-collapse: collapse;
}
table.notifTable td, table.notifTable th {
  border: 2px solid #DDDDDD;
  padding: 25px 1px;
  width: 300px;
}
table.notifTable tbody td {
  font-size: 17px;
  background-color:#F7FFFF;
  border-color: black;
}

table.notifTable td:hover{
  background-color: white;
  cursor: pointer;
}
