<!DOCTYPE html>
<html lang="fr">
<%- include('header'); %>

<body style="background-color:#E6E6E6">
<div class="page-content">
    <div class="row-fluid">
        <div class="col-md-12" style="position: relative; float: none;">
            <div ng-view style="padding-bottom: 10px;">


            </div>
        </div>
    </div>
</div>
</body>

  <%- include('footer'); %>

</html>
