<mat-expansion-panel color="primary" style="position: relative">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{playlist.playlist_name}}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <button mat-button (click)="invitePeople()">
      <mat-icon>account_plus</mat-icon>
      Inviter des gens
    </button>

    <mat-divider></mat-divider>

    <button mat-button (click)="leavePlaylist()">
      <i class="material-icons">exit_to_app</i>Quitter la playlist
    </button>
  </mat-expansion-panel>
