<div class="col-md-12">
<center><h4 style="margin-top:5%">This user don't exist</h4></center>
<center><img src="/img/broken.png" id="logoBroken" style="max-width:200px;max-heigth:200px;width:auto;height:auto;margin-top:5%"></img></center>
</div>
