<div class="inner-1_1f7b" style="z-index:4;height:700px !important">
  <div class="create-guild-container deprecated">
    <form class="form deprecated create-guild" style="transform: translateX(0%) translateZ(0px);">
      <div class="form-inner">
        <h5>Créer votre playlist</h5>
        <p>En créant une playlist, vous aurez accès <strong>gratuitement</strong> aux salons musicaux à partager avec vos amis.</p>
        <ul class="guild-form">
          <li>
            <div class="control-group">
              <label for="guild-name">Nom de la playlist</label>
              <input type="text" id="guild-name" placeholder="Entrez le nom de la playlist" value="">
              <label for="guild-name">Style musical</label>
              <input type="text" id="style" placeholder="style" value="">
              <label for="guild-name">Description</label>
              <input type="text" id="description" placeholder="description" value="">
              </div>
              <div class="control-group">
                <div class="help-text">En créant une playlist, vous acceptez la <strong><a href="//discordapp.com/guidelines" target="_blank" rel="noreferrer">Charte d’Utilisation de la Communauté PSP</a></strong>.
              </div>
            </div>
          </li>
          <li>
            <div class="avatar-uploader">
              <div class="avatar-uploader-inner">
                <div class="avatar-uploader-acronym"></div>
                <div class="avatar-uploader-hint">Changer l'icône</div>
                <input type="file" id="playlist_img" class="file-input" accept=".jpg,.jpeg,.png,.gif" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; opacity: 0; cursor: pointer;"></div>
                <small class="size-info">Taille minimum : <strong>128x128</strong></small>
              </div>
              <div class="form-actions">
                <button onclick={retour} type="button" class="btn btn-default">Retour</button>
                <button type="button" class="btn btn-primary" onclick={creation}>Créer</button>
              </div>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
