.vertical-menu {
    width: 200px;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}

.vertical-menu2 {
    width: 200px;
}

.vertical-menu2 a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu2 a:hover {
    background-color: #ccc;
}

.vertical-menu2 a.active {
    background-color: #4CAF50;
    color: white;
}

.vertical-menu3 {
    width: 200px;
}

.vertical-menu3 a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu3 a:hover {
    background-color: #ccc;
}

.vertical-menu3 a.active {
    background-color: #4CAF50;
    color: white;
}
