.vertical-menu {
    width: 200px;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}

.vertical-menu2 {
    width: 200px;
}

.vertical-menu2 a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu2 a:hover {
    background-color: #ccc;
}

.vertical-menu2 a.active {
    background-color: #4CAF50;
    color: white;
}

.vertical-menu3 {
    width: 200px;
}

.vertical-menu3 a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu3 a:hover {
    background-color: #ccc;
}

.vertical-menu3 a.active {
    background-color: #4CAF50;
    color: white;
}

footer{
background-color:#e5e5e5;
bottom:0;
width:100%;
padding:5px;
height:60px;
margin-top: 7px;
position: absolute;
}
.left {
  float:left;
  width:20%;/*The width is 20%, by default*/
}
.main {
  float:left;
  width:60%;/*The width is 60%, by default*/
}

#footerLogo {
    position:absolute;
    width:70%;
    float:left;
    margin-right: 100%;
}

/*Use a media query to add a break point at 800px:*/
@media (max-width:1000px) {
  .left, .main, .right {
    width:100%;/*The width is 100%, when the viewport is 800px or smaller*/
  }
}
