.vertical-menu {
    width: 200px;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #D3D3D3;
    color: white;
}

.vertical-menu2 {
    width: 200px;
}

.vertical-menu2 a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu2 a:hover {
    background-color: #ccc;
}

.vertical-menu2 a.active {
    background-color: #D3D3D3;
    color: white;
}

.vertical-menu3 {
    width: 200px;
}

.vertical-menu3 a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu3 a:hover {
    background-color: #ccc;
}

.vertical-menu3 a.active {
    background-color: #D3D3D3;
    color: white;
}

.actu{
  display: flex; /* contexte sur le parent */
  flex-direction: column; /* direction d'affichage verticale */
  justify-content: center; /* alignement vertical */
  width: 450px;
  height: 190px;
  background-position: top;
  background-color: white;
  align-items: center;
  border-width:4px;
  border-style:hidden;
  border-color:#CDCDCD;
  border-radius: 10px;
  font-family: serif;
  font-weight:lighter;
  border: 1px solid black;
  margin-top: 40px;
  box-shadow: 4px 4px 4px grey;
}

#txt {
    display:block;
    margin-top: 2px;
    width: 200px;
}

#image {
    position: inherit;
    margin-top: 5%;
    vertical-align:text-bottom;
    display:flex;
    justify-content:flex-end;
    background-color: transparent;
    line-height: normal;
}

#imageAccount {
  margin-top: 10%;

   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-align-items: flex-end;
   align-items: flex-end
}

body{
  background-color: #D3D3D3;
}
