<mat-list style="margin: 0">
    <perfect-scrollbar style="max-width: 600px; max-height: 1000px;" [config]="config">
      <!-- <app-music [music]="music.Music"  *ngFor="let music of musics; let i = index; trackBy: trackElement">
      </app-music> -->
      <div *ngFor="let music of offlineService.musics">
        <mat-list-item>
          <!-- <mat-icon mat-list-icon> {{ plService.isPlaying && isSelected() ? 'pause' : 'play_arrow'}}</mat-icon> -->
          <!-- {{music.music_name}} -->
          <!-- <p mat-line> {{music.music_group}} </p> -->
          <a class="dl-icon" *ngIf="music.isOfflineAvailable===false || music.isOfflineAvailable==='false'" (click)="dlMusic(music)"><i class="material-icons">cloud_download</i></a>
          <!-- <span *ngIf="music.offline=='true'"><i class="material-icons">cloud_done</i></span> -->

          <h5 mat-line [class.offline-unavailable]="music.isOfflineAvailable===false || music.isOfflineAvailable==='false'">{{music.music_name}}</h5>
          <h5 *ngIf="music.isDownloading" mat-line [class.offline-unavailable]="music.isOfflineAvailable===false || music.isOfflineAvailable==='false'">dl-{{music.dlProgress}}%</h5>
          <h5 *ngIf="!music.isDownloading && music.isOfflineAvailable" mat-line [class.offline-unavailable]="music.isOfflineAvailable===false || music.isOfflineAvailable==='false'">offline-available</h5>
          <h5 *ngIf="!music.isDownloading && !music.isOfflineAvailable" mat-line [class.offline-unavailable]="music.isOfflineAvailable===false || music.isOfflineAvailable==='false'">offline-unavailable</h5>
          <!-- <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div> -->
          <mat-divider></mat-divider>
        </mat-list-item>
      </div>
    </perfect-scrollbar>
</mat-list>
