<mat-list style="margin: 0">
    <perfect-scrollbar style="max-width: 600px; max-height: 1000px;" [config]="config">
      <!-- <app-music [music]="music.Music"  *ngFor="let music of musics; let i = index; trackBy: trackElement">
      </app-music> -->

      <div *ngFor="let music of offlineService.musics">

        <div
          [class.offline-available]="music.isOfflineAvailable" (click)="playMusicEvent(music)"
          [class.selected]="isSelected(music)">
        <mat-list-item>
          <mat-icon *ngIf="music.isOfflineAvailable" mat-list-icon> {{ plService.lcPlayer.playing && isSelected(music) ? 'pause' : 'play_arrow'}}</mat-icon>
          <a class="dl-icon" *ngIf="test(music)" (click)="dlMusic(music)"><i class="material-icons">cloud_download</i></a>

          <h5 mat-line style="font-size:15px" [class.offline-unavailable]="!music.isOfflineAvailable">{{music.music_name}}</h5>
          <h5 style="font-size:12px" *ngIf="music.isDownloading" mat-line [class.offline-unavailable]="!music.isOfflineAvailable">dl-{{music.dlProgress}}%</h5>
          <h5 style="font-size:12px" *ngIf="!music.isDownloading && music.isOfflineAvailable" mat-line [class.offline-unavailable]="!music.isOfflineAvailable">offline-available</h5>
          <h5 style="font-size:12px" *ngIf="!music.isDownloading && !music.isOfflineAvailable" mat-line [class.offline-unavailable]="!music.isOfflineAvailable">offline-unavailable</h5>
          <mat-divider></mat-divider>
        </mat-list-item>
        </div>
      </div>
    </perfect-scrollbar>
</mat-list>
