<div style="width: 100%; height: 100%;">
  <div class="menuH">
    <mat-toolbar color="secondary">
      <mat-toolbar-row>
        <span>Peer Sound Project</span>
        <span class="example-spacer" style="padding-right: 81%;"></span>
        <mat-icon class="example-icon" style="padding-right: 7%;">favorite</mat-icon>
        <mat-icon class="example-icon">delete</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="row">

    <div class="col-md-1" style="background-color:green">
      <app-playlist-list [playlists]="playlists" [nbNotif]="userService.events.length" (playlistChanged)="playlistChangedHandler($event)"></app-playlist-list>
    </div>

    <div class="col-md-2" style="background-color:red">
      <app-options-pl style="height: 10%; margin:0" [playlist]="selectedPl"></app-options-pl>
      <app-music-list [musics]="musics" (playMusic)="playMusicHandler($event)"></app-music-list>
    </div>

    <div class="col-md-7" style="background-color:blue">
      <div>
        <div class="row" style="min-height:70%;background-color:cyan;margin:0;width:100%">
          <router-outlet name="homeOutlet"></router-outlet>
        </div>

        <div style="width: 100%;height: auto;position: relative;">
        <div class="row" style="height:30%;background-color:purple;margin:0;width:100%">

          <iframe #scPlayer id="sc-player" width="100%" height="100%" scrolling="no" frameborder="no"
          src="https://w.soundcloud.com/player/?url=https://soundcloud.com/the-outside-agency/the-outside-agency-the-sunrise">
        </iframe>
        </div>
      </div>

      </div>

  </div>

  <div class="col-md-2" style="background-color:yellow">
    <app-user-list style="z-index: 1000;position: absolute;top: 10%;"[playlist]="selectedPl"></app-user-list>
  </div>


</div>
</div>

<script>
/*document.getElementById('sc-player').onload = function() {
        self.iframeElement   = document.querySelector('iframe');
        self.widget1         = SC.Widget(iframeElement);
      }*/
</script>
