<mat-list style="align: center">
  <h1 mat-subheader>
    {{plService.selectedPl.playlist_name}}
  </h1>

  <mat-divider></mat-divider>

  <mat-list-item>
  <h4 mat-subheader>Style</h4>

  <p mat-line>{{plService.selectedPl.playlist_style}}</p>
</mat-list-item>

<mat-list-item>
  <h4 mat-subheader>Description</h4>

  <p mat-line>{{plService.selectedPl.playlist_description}}</p>
</mat-list-item>

<mat-list-item>
  <h4 mat-subheader>Musiques</h4>

  <p mat-line>{{plService.selectedPl.MusicLink ? plService.selectedPl.MusicLink.length : '0'}}</p>
</mat-list-item>

<mat-list-item>
  <h4 mat-subheader>Création</h4>

  <p mat-line>{{plService.selectedPl.playlist_insert | date}}</p>
</mat-list-item>


</mat-list>
