<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <script src="/controller/manageController.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/navbar.css" rel="stylesheet" media="all" type="text/css">
    <!-- SCROLLS -->
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />

 <!-- SPELLS -->
 <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-route.js"></script>
  </head>
  <body ng-controller="homeController">
    <nav class="navbar">
      <ul class="navbar-right">
        <div class="music">
          <a href="https://www.w3schools.com/html/" target="_blank"><img src="/images/note de music.png" alt="image" style="width:20px;height:46px;"></a>
        </div>
        <div class="interogation">
          <a><img src="/images/point.jpg" style="width:65px;height:65px;"></a>
        </div>
      <div class=france>
        <a><img src="/images/france.png" style="width:50px;height:56px;"></a>
      </div>
      <div class="myAccount">
        <a><img src="/images/myAccount.png" style="width:45px;height:56px;"></a>
      </div>
      <div class="logo">
        <a target="_blank"><img src="/images/logo2.png" style="width:80px;height:70px;">
      </div>
      <div class="notif">
        <a target="_blank"><img src="/images/music.jpg" style="width:80px;height:70px;">
      </div>
      <div class="recherche">
        <form action="/search" id="searchthis" method="get">
          <input id="search" name="q" type="text" placeholder="Rechercher" />
          <input id="search-btn" type="submit" value="Rechercher" />
        </form>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Gestion des ressources
          <i class="fa fa-caret-down"></i>
        </button>
       <div class="dropdown-content">
         <a href="#">Amis</a>
         <a href="#">playlist</a>
         <a href="#">favoris</a>
       </div>
     </div>
      </ul>
</nav>
  </body>
  <footer>
    <p>Peer Sound Project</p>
  </footer>
</html>
