<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Login</title>

    <meta name="description" content="overview &amp; stats"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--basic styles-->
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico"/>

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    
    <link href="/theme/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet">
    <link href="/theme/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/theme/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/theme/plugins/DataTables/css/data-table.css" rel="stylesheet">
    <link href="/theme/plugins/ionRangeSlider/css/ion.rangeSlider.css" rel="stylesheet">
    <link href="/theme/plugins/ionRangeSlider/css/ion.rangeSlider.skinNice.css" rel="stylesheet">
    <link href="/theme/plugins/select2/dist/css/select2.min.css" rel="stylesheet">
    <link href="/theme/plugins/password-indicator/css/password-indicator.css" rel="stylesheet">
    <link href="/theme/plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet">
    <link href="/theme/plugins/parsley/src/parsley.css" rel="stylesheet">
    <link href="/theme/plugins/switchery/switchery.min.css" rel="stylesheet">
    <link href="/theme/css/animate.min.css" rel="stylesheet">
    <link href="/theme/css/style.min.css" rel="stylesheet">
    <link href="/theme/css/style-responsive.min.css" rel="stylesheet">
    <link href="/theme/css/theme/default.css" rel="stylesheet">
    <link href="/theme/css/style.css" rel="stylesheet">
    <link href="/theme/plugins/jquery-file-upload/blueimp-gallery/blueimp-gallery.min.css" rel="stylesheet">
    <link href="/theme/plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet">
    <link href="/theme/plugins/jquery-file-upload/css/jquery.fileupload-ui.css" rel="stylesheet">
    <!-- ================== END BASE CSS STYLE ================== -->
</head>

<body>

<div id="page-loader" class="fade in"><span class="spinner"></span></div>
<!--<div class="content">-->
<div id="page-container" class="fade">
    <!-- begin login -->
    <div class="login bg-black animated fadeInDown">
        <!-- begin brand -->
        <div class="login-header">
            <div class="brand">
                <span class="logo"></span> Login
                <small>Please type your login and password</small>
            </div>
            <div class="icon">
                <i class="fa fa-sign-in"></i>
            </div>
        </div>
        <!-- end brand -->
        <div class="login-content">
            <form id="login-form" method="POST" action="/login">
                <div class="errorMessage">
                    <div class="alert alert-block alert-danger" id="login-form_es_"
                         style="<% if (!(locals.errors && errors.length > 0)) { %>display:none<% } %>">
                        <ul><%
if (locals.messages) {
        for (var i = 0; i < messages.length; i++) { %>
                            <li><b><%= messages[i].message %></b></li><%
        }
} %>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group m-b-20">
                        <label for="login">Login <span class="required">*</span></label>
                        <input class="form-control input-lg" name="login" id="login" type="text"
                               value="<%= locals.login ? login : '' %>"/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group m-b-20">
                        <label for="password">Password</label>
                        <input class="form-control input-lg" name="password" id="password" type="password"
                               value="<%= locals.password ? password : '' %>" required="required"/>
                    </div>
                </div>
                <div class="row">
                    <div class="checkbox m-b-20">
                        <label>
                            <input name="rememberMe" id="rememberMe" value="0" type="checkbox"/>
                            <span class="lbl">Remember me next time</span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6 col-lg-offset-6" style="padding: 0">
                        <a class="btn btn-info btn-block btn-md" href="/lostpassword"> Lost password
                            <i class="icon-arrow-right icon-on-right"></i></a></div>
                </div>
                <div class="row">
                    <div class="login-buttons">
                        <input type="button" onclick="connect()" name="yt1" class="btn btn-success btn-block btn-lg"
                               value="Connexion"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- end login -->
</div>
<!--</div>-->

<!-- ================== BEGIN BASE JS ================== -->
<script src="/theme/plugins/pace/pace.min.js"></script>
<script src="/theme/plugins/jquery/jquery-1.9.1.min.js"></script>
<script src="/theme/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
<script src="/theme/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<script src="/theme/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/theme/plugins/select2/dist/js/select2.min.js"></script>
<script src="/theme/plugins/masked-input/masked-input.min.js"></script>
<script src="/theme/plugins/password-indicator/js/password-indicator.js"></script>
<script src="/theme/plugins/ionRangeSlider/js/ion-rangeSlider/ion.rangeSlider.min.js"></script>
<script src="/theme/plugins/parsley/dist/parsley.js"></script>
<script src="/theme/plugins/bootstrap-wizard/js/bwizard.js"></script>
<script src="/theme/plugins/ckeditor/ckeditor.js"></script>
<script src="/theme/plugins/switchery/switchery.min.js"></script>
<script src="/theme/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="/theme/plugins/jquery-file-upload/js/vendor/tmpl.min.js"></script>
<script src="/theme/plugins/jquery-file-upload/js/vendor/load-image.min.js"></script>
<script src="/theme/plugins/jquery-file-upload/js/vendor/canvas-to-blob.min.js"></script>
<script src="/theme/plugins/jquery-file-upload/blueimp-gallery/jquery.blueimp-gallery.min.js"></script>
<script src="/theme/plugins/jquery-file-upload/js/jquery.iframe-transport.js"></script>
<script src="/theme/plugins/jquery-file-upload/js/jquery.fileupload.js"></script>
<script src="/theme/plugins/jquery-file-upload/js/jquery.fileupload-process.js"></script>
<script src="/theme/plugins/jquery-file-upload/js/jquery.fileupload-image.js"></script>
<script src="/theme/plugins/jquery-file-upload/js/jquery.fileupload-audio.js"></script>
<script src="/theme/plugins/jquery-file-upload/js/jquery.fileupload-video.js"></script>
<script src="/theme/plugins/jquery-file-upload/js/jquery.fileupload-validate.js"></script>
<script src="/theme/plugins/jquery-file-upload/js/jquery.fileupload-ui.js"></script>
<script src="/theme/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/theme/plugins/jquery-cookie/jquery.cookie.js"></script>
<script src="/theme/plugins/masked-input/masked-input.min.js"></script>
<script src="/theme/js/apps.js"></script>

<script src="/js/script.js"></script>
<!-- ================== END BASE JS ================== -->

<script>
    $(document).ready(function () {
        App.init();
    });

    function connect() {
        if (document.getElementById("rememberMe").checked) {
            var login = window.btoa(document.getElementById('password').value);
            login = document.getElementById('login').value + "&" + login;
            createCookie("login", login);
        } else {
            eraseCookie("login");
        }
        document.forms["login-form"].submit();
    }

    (function () {
        var login = readCookie("login");
        if (login != null) {
            login = login.split("&");
            document.getElementById('login').value = login[0];
            document.getElementById('password').value = window.atob(login[1]);
            document.getElementById("rememberMe").checked = true;
        }
        $('form').each(function () {
            $(this).find('input').keypress(function (e) {
                if (e.which == 10 || e.which == 13) {
                    connect();
                }
            });
        });
    })();
</script>
</body>
</html>