<!DOCTYPE html>
<html ng-app="PspHome">
  <head>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <script src="/controller/homeController.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/home.css" rel="stylesheet" media="all" type="text/css">
    <title>Page Title</title>

  </head>
<body>

  <h1>This is a Heading</h1>
  <p>{{ message }}</p>

  <div class="vertical-menu">
    <a href="#" class="active">MyFavMusic</a>
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
    <a href="#">Link 4</a>
  </div>

  <div class="vertical-menu2">
  <a href="#" class="active">MyFriend(s)</a>
  <a href="#">MrBiscotte</a>
  <a href="#">Bobkulte</a>
  <a href="#">KEDIRA</a>
  <a href="#">ITIZ</a>
</div>

<div class="vertical-menu3">
  <a href="#" class="active">MyPlaylist</a>
  <a href="#">Rock</a>
  <a href="#">Regea</a>
  <a href="#">Zoumba</a>
  <a href="#">Hardcore</a>
</div>

</body>
<footer>

  <div class="left">
    <button id="boutonCGU" align="left"><a href="http://www.footmercato.net/">CGU</a></button>
</div>

<div class="main">
  <button id="boutonTelechargement" align="left"><a href="http://www.footmercato.net/">Dowload Plug/Soft</a></button>
</div>

<div id="footerLogo">
  <a target="_blank"><img  src="/images/logo.png" style="width:65px;height:65px;">
</div>

</footer>
</html>
