<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>

  </head>
<body>

  <h1>This is a Heading</h1>
  <p>{{ message }}</p>

  <div class="vertical-menu">
    <a href="#" class="active">MyFavMusic</a>
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
    <a href="#">Link 4</a>
  </div>

  <div class="vertical-menu2">
  <a href="#" class="active">MyFriend(s)</a>
  <a href="#">MrBiscotte</a>
  <a href="#">Bobkulte</a>
  <a href="#">KEDIRA</a>
  <a href="#">ITIZ</a>
</div>

<div class="vertical-menu3">
  <a href="#" class="active">MyPlaylist</a>
  <a href="#">Rock</a>
  <a href="#">Regea</a>
  <a href="#">Zoumba</a>
  <a href="#">Hardcore</a>
</div>

</body>

</html>
