<!DOCTYPE html>
<html lang="fr">
<html>
<head>
<meta charset=utf-8 />

<link href="/css/footer.css" rel="stylesheet"/>

</head>

<body>
</div>
  <div class="footer" style="border-style:none;height:65px">
    <div class="col-md-12">
    <div class="col-md-2">
      <a href="https://www.facebook.com/Peer-Sound-Project-1269297519814791/" target="_blank"><img src="/img/facebook.png" style="max-height:80px;max-width:80px;"></a>
      <a href="https://twitter.com/PeerSound" target="_blank"><img src="/img/twitter.png" style="max-height:50px;max-width:50px;margin-bottom:3%"></a>
    </div>
    <div class="col-md-9"></div>
    <div class="col-md-1">
      <img src="/img/epitech.png" style="max-height:70px;max-width:70px;margin-top:15px;margin-right:45px">
    </div>
  </div>
    </div>
      </div>
        <a href="javascript:;" style="background-color:#2d353c;"class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top">Up</a>
    </div>
  </body>
  <!-- begin scroll to top btn -->

  <!-- end scroll to top btn -->

<!-- ================== BEGIN BASE JS ================== -->
<script src="/node_modules/requirejs/require.js"></script>

<!--inline scripts related to this page-->
<script>
    // obtain requirejs config
    require(['require', './js/config-require'], function (require, config) {
        // update global require config
        window.require.config(config);
        // load app
        require(['./js/main.js']);
    });
</script>
</body>
</html>
