
<footer>
        <div class="container">
          <div class="col-md-5">
            <button id="boutonCGU" align="left"><a href="http://www.footmercato.net/">CGU</a></button>
          </div>
          <div class="col-md-5">
            <button id="boutonTelechargement" align="left"><a href="http://www.footmercato.net/">Dowload Plug/Soft</a></button>
          </div>
          <div class="col-md-2">
            <a target="_blank"><img  src="/img/logo2.png" style="width:65px;height:65px;">
          </div>

          </div>
        <!-- begin scroll to top btn -->
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
        <!-- end scroll to top btn -->
    </div>
</div>

</footer>

<!-- ================== BEGIN BASE JS ================== -->
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script src="/node_modules/requirejs/require.js"></script>

<!--inline scripts related to this page-->
<script>
    // obtain requirejs config
    require(['require', './js/config-require'], function (require, config) {
        // update global require config
        window.require.config(config);

        // load app
        require(['./js/main.js']);
    });
</script>
</body>
</html>
