        <p style="margin-top: 8px; color: #000000; text-align: center"><b translate>©Copyright</b></p>

        <!-- begin scroll to top btn -->
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
        <!-- end scroll to top btn -->
    </div>
</div>

<!-- ================== BEGIN BASE JS ================== -->
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script src="/node_modules/requirejs/require.js"></script>

<!--inline scripts related to this page-->
<script>
    // obtain requirejs config
    require(['require', './js/config-require'], function (require, config) {
        // update global require config
        window.require.config(config);

        // load app
        require(['./js/main.js']);
    });
</script>
</body>
</html>
