<!DOCTYPE html>
<html lang="fr">
<%- include('header'); %>

<body style="background-color:#f2f2f2;text-rendering:optimizeLegibility">
<div class="page-content">
    <div class="row-fluid">
        <div class="col-md-12" style="position: relative; float: none;">
            <div ng-view style="padding-bottom: 10px;">
            </div>
        </div>
    </div>
</div>
</body>
<!--<img src='/img/background3.jpg' id="background" style="
min-height: 100%;
min-width: 1024px;
z-index: -1000;
width: 100%;
height: auto;
position: fixed;
top: 1%;
left: 0;">-->
  <%- include('footer'); %>
</html>
