<%- include('header'); %>
<div class="page-content">
    <div class="row-fluid">
        <div class="col-md-12" style="position: relative; float: none;">
            <div ng-view style="padding-bottom: 10px;"></div>
        </div>
    </div>
</div>
<footer>
  <%- include('footer'); %>
</footer>
