<!DOCTYPE html>
<html>
<body>

  <h1>You are Following {{ followerNb }} user(s)</h1>

  <div ng-repeat='x in users'>
    <p> {{ x.usr_login }}</p>
    <p> {{ x.usr_email }}</p>

  </div>

</body>

</html>
