<!DOCTYPE html>
<html>
<body>

  <h1>You have {{ followerNb }} Follower(s)</h1>

  <div ng-repeat='x in users'>
    <p> {{ x.usr_login }}</p>
    <p> {{ x.usr_email }}</p>
    
  </div>

</body>

</html>
