<!DOCTYPE html>
<html>
<body>
  <!--<div class="news" ng-repeat="x in followedList" style="margin-bottom:15px">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <h2><b>{{ x.Followed.usr_login }}</b></h2>
      </div>
    </div>
    <div class="text">
      <a ng-href='#/message' ng-click="redirectToUser(x.Followed.usr_login)"><h5 style="color:blue"> {{x.Followed.usr_email}}</h5></a>
    </div>
  </div>-->
  <div class="col-md-10">
    <center>  <h1>You are Following {{ followedNb }} users(s)</h1>
    <div class="col-md-4" ng-repeat="x in followedList" style="margin-top:30px">
      <div style="background-color:white;border-radius:10px;height:190px;margin-bottom:15px;width:200px" >
        <!--<p style="padding-top:15px;color:black">{{$index}} {{x.Follower.usr_login}}</p>-->
        <div style="padding-top:10px">
          <span style="color:black;padding-top:10px">{{$index}} {{x.Followed.usr_login}}</span>
      <a href=""><img src="/img/remove.png" alt="logo" id="img"  ng-click="unFollow(x.Followed.usr_id)" style="max-height:15px;max-width:15px;vertical-align:middle;float:right;margin-right:10px;" ></a>
        </div>
        <img src="/img/myAccount.png" alt="logo" id="img" style="max-height:70px;max-width:70px;margin-top:15px;">
        <br>
        <p style="color:black;margin-top:15px"> Email : {{x.Followed.usr_email}}</p>
        <div>
          <button type="button" style="font-size:10px; background-color:#6B92A5; color:white; width:100px;" ng-click="redirectToUser(x.Followed.usr_login)" class="btn">Voir l'utilisateur</button>
        </div>
      </div>
    </div>
    </center>
  </div>
</body>
</html>
