<!DOCTYPE html>
<html>
<body>
  <center><h1>You are Following {{ followerNb }} user(s)</h1></center>
  <div class="news" ng-repeat="x in users" style="margin-bottom:15px">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <h2><b>{{ x.usr_login }}</b></h2>
      </div>
    </div>
    <div class="text">
      <a ng-href='#/message' ng-click="redirectToUser(x.usr_login)"><h5 style="color:blue"> {{x.usr_email}}</h5></a>
    </div>
  </div>
</body>
</html>
