<!DOCTYPE html>
<html>
<body>
  <center>
    <div class="col-md-10">
      <center>  <h1>You have {{ followerNb }} Follower(s)</h1> </center>
      <div class="col-md-4" ng-repeat="x in followerList" style="margin-top:30px">
        <div style="background-color:white;border-radius:10px;height:190px;margin-bottom:15px;width:200px" >
          <div style="padding-top:10px">
            <span style="color:black;padding-top:10px">{{$index}} {{x.Follower.usr_login}}</span>
          </div>
          <img src="/img/myAccount.png" alt="logo" id="img" style="max-height:70px;max-width:70px;margin-top:15px;">
          <br>
          <p style="color:black;margin-top:15px"> Email : {{x.Follower.usr_email}}</p>
          <div>
            <button type="button" style="font-size:10px; background-color:#6B92A5; color:white; width:60%;" ng-click="redirectToUser(x.Follower.usr_login)" class="btn">Voir l'utilisateur</button>
          </div>
        </div>
      </div>
    </center>
  </body>
  </html>
