<link rel="stylesheet" href="css/style.css">
<div class="col-md-12" style="margin-top:5%">
  <center>
    <div style="background-color:white;border-radius:10px;margin-bottom:5%">
      <div>
        <span style="color:black;font-size:40px;">Peer Sound Project</span>
        <img src="/img/logoBlack.png" alt="logo" id="img" style="max-height:70px;max-width:70px;vertical-align:middle;margin-top:-15px">
      </div>
    </div>
    <div style="color:black;font-size:14px;">
      <p>Peersoundproject permet à ceux qui aiment la musique de se regrouper pour découvrir et partager leurs perles musicales.</p>
      Aujourd’hui, ces œuvres ne sont plus sur support matériel, sont stockées sur des serveurs, qui vous permettent souvent de les écouter gratuitement, et sans limite.
      <p>Cependant, aimer une musique, c’est avoir la version studio, live, alternative et instrumentale.</p>
      <p>  Aimer un groupe, c’est regarder le live sur Youtube, et écouter l’album sur Deezer.</p>
      PSP permet aux passionnés, chineurs, et collectionneurs, de pouvoir comme à l’époque des compilations CD, appuyer sur «suivant», et de passer d’une musique hébergée par Youtube, à une autre stockée sur SoundCloud, et de partager leurs playlists avec leurs semblables, comme un bon vieux 45 tours.
      <p>Quels que soient vos goûts, d’autres les partagent.</p>
    </div>
    <br>
    <button ng-click="goTo('signup', '/')">Tet</button>
  </center>
</div>
