<%
var menu_items = [{
    label: 'music',
    url: '#/music',
    icon: 'fa-cube'
}, {
    label: 'user',
    url: '#/user',
    icon: 'fa-cube'
}].sort(function (a, b) {
    if (a.label == b.label) return 0;
    return a.label > b.label ? 1 : -1;
});
%>
<!-- begin row -->
<div class="row"><%
menu_items.forEach(function(item) { %>
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats widget-thumbnail bg-green" onclick="window.location.href = '<%= item.url %>'">
            <div class="stats-icon"><i class="fa <%= item.icon %>"></i></div>
            <div class="stats-info">
                <h4 translate><%= item.label %></h4>
                <p translate>Module</p>
            </div>
            <div class="stats-link">
                <a href="<%= item.url %>">{{ 'View Detail' | translate }}
                    <i class="fa fa-arrow-circle-o-right"></i></a>
            </div>
        </div>
    </div><%
}); %>
</div>
<!-- end row -->
