<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Lost Password</title>

    <meta name="description" content="overview &amp; stats"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--basic styles-->
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico"/>

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <link href="/theme/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet">
    <link href="/theme/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/theme/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/theme/plugins/DataTables/css/data-table.css" rel="stylesheet">
    <link href="/theme/plugins/ionRangeSlider/css/ion.rangeSlider.css" rel="stylesheet">
    <link href="/theme/plugins/ionRangeSlider/css/ion.rangeSlider.skinNice.css" rel="stylesheet">
    <link href="/theme/plugins/select2/dist/css/select2.min.css" rel="stylesheet">
    <link href="/theme/plugins/password-indicator/css/password-indicator.css" rel="stylesheet">
    <link href="/theme/plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet">
    <link href="/theme/plugins/parsley/src/parsley.css" rel="stylesheet">
    <link href="/theme/plugins/switchery/switchery.min.css" rel="stylesheet">
    <link href="/theme/css/animate.min.css" rel="stylesheet">
    <link href="/theme/css/style.min.css" rel="stylesheet">
    <link href="/theme/css/style-responsive.min.css" rel="stylesheet">
    <link href="/theme/css/theme/default.css" rel="stylesheet">
    <link href="/theme/css/style.css" rel="stylesheet">
    <link href="/theme/plugins/jquery-file-upload/blueimp-gallery/blueimp-gallery.min.css" rel="stylesheet">
    <link href="/theme/plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet">
    <link href="/theme/plugins/jquery-file-upload/css/jquery.fileupload-ui.css" rel="stylesheet">
    <!-- ================== END BASE CSS STYLE ================== -->
</head>
<body>
<div id="page-loader" class="fade in"><span class="spinner"></span></div>
<!--<div class="content">-->
<div id="page-container" class="fade">
    <!-- begin login -->
    <div class="login bg-black animated fadeInDown">
        <!-- begin brand -->
        <div class="login-header">
            <div class="brand">
                <span class="logo"></span> Lost Password
                <small>Please type your email</small>
            </div>
            <div class="icon">
                <i class="fa fa-envelope"></i>
            </div>
        </div>
        <!-- end brand -->
        <div class="login-content">
            <form>
                <div id="errorMessages" class="hidden">
                    <div class="alert alert-danger">
                        <ul></ul>
                    </div>
                </div>
                <div id="infoMessages" class="hidden">
                    <div class="alert alert-info">
                        <ul></ul>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group m-b-20 col-lg-12">
                        <label for="email">Email<span class="required">*</span></label>
                        <input class="form-control input-lg" name="email" id="email" type="email" value=""/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-5 col-lg-offset-2">
                        <a class="btn btn-default" style="width: 100%" href="/">Cancel</a>
                    </div>
                    <div class="form-group col-lg-5">
                        <input type="button" onclick="send()" style="width: 100%" name="yt1" class="btn btn-primary" value="Send"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- end login -->
</div>
<!--</div>-->

<!-- ================== BEGIN BASE JS ================== -->
<script src="/theme/plugins/jquery/jquery-1.9.1.min.js"></script>
<script src="/theme/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
<script src="/theme/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<script src="/theme/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/theme/plugins/gritter/js/jquery.gritter.js"></script>
<script src="/theme/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/theme/plugins/password-indicator/js/password-indicator.js"></script>
<script src="/theme/js/apps.js"></script>

<!-- ================== END PAGE LEVEL JS ================== -->

<!--inline scripts related to this page-->
<script>
    function send() {
        setInfoMessages();
        setErrorMessages();
        $.post('/api/auth/lostpassword', {
            email: $('#email').val()
        }, function (result) {
            if (result.code != 0) {
                return setErrorMessages(result.errors);
            }
            setInfoMessages(result.message);
        });
    }
    function setErrorMessages(errors) {
        if (!errors || errors.length == 0) {
            return $('#errorMessages').addClass('hidden');
        }
        var messages = '';
        errors.forEach(function (error) {
            messages += '<li>' + error.message + '</li>';
        });
        return $($('#errorMessages')
                .removeClass('hidden')
                .find('ul')[0])
                .html(messages);
    }
    function setInfoMessages(message) {
        if (!message) {
            return $('#infoMessages').addClass('hidden');
        }
        var messages = '<li>' + message + '</li>';
        return $($('#infoMessages')
                .removeClass('hidden')
                .find('ul')[0])
                .html(messages);
    }

    $(document).ready(function () {
        App.init();
    });

    (function () {
        $('form').each(function () {
            $(this).find('input').keypress(function (e) {
                if (e.which == 10 || e.which == 13) {
                    send();
                }
            });
        });
    })();
</script>
</body>
</html>
