<style>
.news{
  width: 455px;
  position: relative;
  height: 150px;
  border: 1px solid #c0c0c0;
  clear: both;
  text-align: center;
  margin:auto;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
}
</style>

<center>La page de resultat de recherche</center>

<div ng-if="type == 'user'">
  <div class="news" ng-repeat="x in result" style="margin-bottom:15px">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <h2><b> {{ x.usr_login}}</b></h2>
      </div>
    </div>
    <div class="text">
      <a ng-href='#' ng-click="redirectToUser(x.usr_login)"><h5 style="color:blue">{{ x.usr_email }}</h5></a>
    </div>
  </div>
</div>

<div ng-if="type == 'playlist'">
  <div class="news" ng-repeat="x in result" style="margin-bottom:15px">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <h2><b>{{ x.playlist_name }}</b></h2>
      </div>
    </div>
    <div class="text">
      <h5 style="color:blue">{{ x.playlist_description}}</h5>
    </div>
  </div>
</div>

<div ng-if="type == 'music'">
  <div class="news" ng-repeat="x in result" style="margin-bottom:15px">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <h2><b>{{ x.music_name}}</b></h2>
      </div>
    </div>
    <div class="text">
      <h5 style="color:blue"> {{ x.music_group }}</h5>
    </div>
  </div>
</div>
