<style>
#img {
  margin-top: 10px;
  height: 50px;
  width: 50px;
}
</style>


<div  class="col-md-9">
  <center><h4>La page de resultat de recherche de type {{type}}</h4></center>
<div style="margin-bottom:5%">
<div ng-if="all['user'].length && (display == 'all' || display =='user')">
  <div class="news" ng-repeat="x in all.user" style="margin-bottom:15px">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <h2><b> {{ x.usr_login}} </b></h2>
      </div>
      <div class="col-md-2">
        <img src="/img/myAccount.png" alt="logo" id="img">
      </div>
    </div>
    <div class="text">
      <a ng-href='#' ng-click="redirectToUser(x.usr_login)"><h5 style="color:blue">{{ x.usr_email }}</h5></a>
    </div>
  </div>
</div>

<div ng-if="all['playlist'].length && (display == 'all' || display =='playlist')">
  <div class="news" ng-repeat="x in all.playlist" style="margin-bottom:15px">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <h2><b>{{ x.playlist_name }}</b></h2>
      </div>
      <div class="col-md-2">
        <img src="/img/myPlaylist.png" alt="logo" id="img">
      </div>
    </div>
    <div class="text">
      <h5 style="color:blue">{{ x.playlist_description}} </h5>
    </div>
    <div class="text">
      <button type="button" style="font-size:10px; border-radius:10px; background-color:#6B92A5; color:white; width:100px;" ng-click="redirectTo('playlist', x.playlist_id)" class="btn">Voir la playlist</button>
    </div>
  </div>
</div>

<div ng-if="all['music'].length && (display == 'all' || display =='music')">
  <div class="news" ng-repeat="x in all.music" style="margin-bottom:15px">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <h2><b>{{ x.music_name}}</b></h2>
      </div>
    <div class="col-md-2">
      <img src="/img/note.png" alt="logo" id="img">
    </div>
    </div>
    <div class="text">
      <h5 style="color:blue"> {{ x.music_group }}</h5>
    </div>
    <div class="text">
      <button type="button" style="font-size:10px; border-radius:10px; background-color:#6B92A5; color:white; width:100px;" ng-click="redirectTo('music', x.music_id)" class="btn">Voir la music</button>
    </div>
  </div>
</div>
</div>
</div>
<div class="col-md-3">
  <center><h2> Filtres </h2></center>
  <div class="filters">
    <button class="filter-button" ng-click="display = 'all'">All</button>
    <br>
    <button class="filter-button" ng-click="display = 'music'">Musique</button>
    <br>
    <button class="filter-button" ng-click="display = 'playlist'">Playlist</button>
    <br>
    <button class="filter-button last" ng-click="display = 'user'">Utilisateur</button>
    <br>
  <!--  <button type="button" style="font-size:12px; border-radius:10px; background-color:#6B92A5; color:white; width:100px;margin-top:10px" ng-click="" class="btn">Rafraichir</button>-->
</div>
</div>

<style>
.filter-button{
  width:100%;
  height: 25px;
  background-color: white;
  font-size: 12px;
  border: 0px;
  text-align: left;
  margin-bottom: 3%;
}

.last {
  margin-bottom: 0%;
}

.filter-button:hover{
  color:black;
  border-radius: 8px;
  border-left: 3px solid #d9e0e7;
  border-bottom: 2px solid #d9e0e7;
}

.filters{
  width: 90%;
  position: relative;
  height: auto;
  border: 1px solid #c0c0c0;
  clear: both;
  text-align: center;
  margin:auto;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color:white;
}
</style>
