THIS IS THE SIGNUP
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p id="FormTest" value="lolool">gg</p>
<button ng-click="signUp()" type="button" class=" btn" style="font-size:20px; border-radius:10px; background-color:#6B92A5; color:white; width:350px;">Valider l'inscription</button>
