<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="description" content="overview &amp; stats"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/css/playlist.css" rel="stylesheet"/>
</head>
<body>
    <div class="row">
      <div class="panel-body">
        <div class="form-group" style="margin-bottom:1%">
          <form class="form-group" name="newPlaylist" ng-submit="savePlaylist()">
            <div class="form">
              <div class="col-md-3">
                <label class="label-txt" for="name">Adresse Email</label>
              </div>
              <div class="col-md-8">
                <input type="text" style="width:800px;"ng-model="playlist.playlist_name" class="form-control"  required>
              </div>
              <div class="col-md-1 glyphicon glyphicon-envelope" style="font-size:35px; margin-top:4px;color:#6B92A5;"></div>
            </div>
            <div class="form">
              <div class="col-md-3">
                <label class="label-txt" for="style">Pseudo</label>
              </div>
              <div class="col-md-8">
                <input type="text" style="width:800px;"ng-model="playlist.playlist_name" class="form-control"  required>
              </div>
              <div class="col-md-1 glyphicon glyphicon-user"style="font-size:35px; margin-top:4px;color:#6B92A5;"></div>
            </div>
            <div class="form">
              <div class="col-md-3">
                <label class="label-txt" for="description">Mot De Passe</label>
              </div>
              <div class="col-md-8">
                <input type="text" ng-model="playlist.playlist_description" style="width:800px;" class="form-control" required>
              </div>
                <div class="col-md-1 glyphicon glyphicon-lock" style="font-size:35px; margin-top:4px;color:#6B92A5;"></div>
            </div>
            <div class="form">
              <div class="col-md-3">
                <label class="label-txt" for="comment">Confirmation De Mot De Passe</label>
              </div>
              <div class="col-md-8">
                <input type="text"style="width:800px;" ng-model="playlist.playlist_comment" class="form-control" required>
              </div>
              <div class="col-md-1 glyphicon glyphicon-lock" style="font-size:35px; margin-top:4px; color:#6B92A5;"></div>
            </div>
            <div class="row" style="margin-top:100px; margin-bottom:5px;">
              <div class="col-md-2">
              </div>
              <div class="col-md-4">
                <div href="" class="bnt glyphicon glyphicon-hand-left" style="font-size:15px;"></div>
                <button ng-click="goTo('playlist/', 'list')" type="button" class=" btn" style="font-size:20px; border-radius:10px; background-color:#6B92A5; color:white; width:350px;">Retourner sur la page d'accueil</button>
              </div>
              <div class="col-md-2">

              </div>
              <div class="col-md-4">
                <button type="submit"  class="btn" style="font-size:20px; border-radius:10px; background-color:#6B92A5; color:white; width:150px;">Inscription</button>
              </div>
            </div>
          </form>
          <div ng-if="playlistCreated === true">
            <h3> Playlist created :)</h3>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
