<!DOCTYPE html>
<html>
<body>
  <div  data-ng-init="getMessage()">
    <div class="col-md-6 col-xs-12">
      <div ng-if="myself.messages_unread.length">
        <h4 style="float:right">You have {{ myself.messages_unread.length }} new message(s)</h4>
        <div class="news" ng-repeat="x in myself.messages_unread" style="margin-bottom:15px">
          <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
              <h2><b>From : {{ x.Sender.usr_login  }}</b></h2>
            </div>
            <div class="col-md-2">
              <a href='' class="glyphicon glyphicon-trash" ng-click="goDeleteMessage(x.message_id)"></a>
              <a href='' class="glyphicon glyphicon-ok" ng-click="readMessage(x.message_id)"></a>
            </div>
          </div>
          <div class="text">
            {{ x.content }}
          </div>
        </div>
      </div>
      <div ng-if="!(myself.messages_unread.length)">
        <h1>You have no new message</h1>
      </div>
    </div>
    <div ng-if="myself.messages_read.length">
      <div class="col-md-6 col-xs-12">
        <h4 style="float:right">Your readed message(s)</h4>
        <div class="news" ng-repeat="x in myself.messages_read" style="margin-bottom:15px">
          <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
              <h2><b>From : {{ x.Sender.usr_login  }}</b></h2>
            </div>
            <div class="col-md-2">
              <a href='' class="glyphicon glyphicon-trash" ng-click="goDeleteMessage(x.message_id)"></a>
              <a href='' class="glyphicon glyphicon-ok" ng-click="readMessage(x.message_id)"></a>
            </div>
          </div>
          <div class="text">
            {{ x.content }}
          </div>
        </div>
      </div>
    </div>
    <div ng-if="!(myself.messages_read.length)">
      <h1>You have no archived message</h1>
    </div>
  </div>
</body>
</html>
