<!DOCTYPE html>
<html>
<body>
  <div ng-if="myself.messages.length" data-ng-init="getMessage()">
    <h1>You have {{ myself.messages.length }} message(s)</h1>

    <div class="news" ng-repeat="x in myself.messages" style="margin-bottom:15px">
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          <h2><b>From : {{ x.Sender.usr_login  }}</b></h2>
        </div>
        <div class="col-md-2">
          <a href='' class="glyphicon glyphicon-trash" ng-click="goDeleteMessage(x.message_id)"></a>
          <a href='' class="glyphicon glyphicon-ok" ng-click="readMessage(x.message_id)"></a>
        </div>
      </div>
      <div class="text">
        {{ x.content }}
      </div>
    </div>
  </div>
  <div ng-if="!(myself.messages.length)">
    <h1>You have no message</h1>
  </div>
</body>
</html>
