<!DOCTYPE html>
<style>
.userButton {
  background-color:#F7FFFF;
  font-size:30px;

}
</style>
<html lang="fr">
<html>
<head>
<meta charset=utf-8 />
<link href="/css/user.css" rel="stylesheet"/>
</head>
<body>
<div id="unknowUser" ng-if="!user">
  <div class="col-md-12">
  <center><h4 style="margin-top:5%">This user don't exist</h4></center>
  <center><img src="/img/broken.png" id="logoBroken" style="max-width:200px;max-heigth:200px;width:auto;height:auto;margin-top:5%"></img></center>
  </div>
</div>
  <div class="user" id="user" ng-if="user">
    <div class="information">
      <div class="col-md-4">
      <div  class="btn" data-ng-init="isFollowed()">
        <button  style="font-size:20px; border-radius:10px; background-color:#6B92A5; color:white; width:150px;" id="unfollow" ng-if="followed === true" ng-click='unFollow()'>unFollow</button>
        <button  style="font-size:20px; border-radius:10px; background-color:#6B92A5; color:white; width:150px;" id="follow" ng-if="followed === false" ng-click='Follow()'>Follow</button>
      </div>
    </div>
    <div class="col-md-4">
      <img src="/img/myAccount.png" class="img-rounded" style="widht:50px; height:50px; margin-top:10px">
    <h2>{{user.usr_login}}</h2>
    </div>
      <div class="col-md-4">
        <button style="font-size:20px; border-radius:10px; background-color:#6B92A5; color:white; width:300px;" class="btn" href="#" ng-click="toogleDisplayMessage(true)">Envoyer un message à {{user.usr_login}}</button>
        <br>
        <div ng-if="displayMessageInpunt === true">
          <form>
        <input type="text" id="messageInput" required></input>
        <button type="submit" ng-click="messageHandler(id, messageContent())" style="font-size:20px; border-radius:10px; background-color:#6B92A5; color:white; width:150px;" href="" class="glyphicon glyphicon-send"></button>
        <a href="" class="glyphicon glyphicon-remove" ng-click="toogleDisplayMessage(false)"></a>
      </form>
      <p ng-if="sended == true">Message sent to {{user.usr_login}} !<p>
      </div>
    </div>
    </div>
    <div class="title">
          <div style="margin-top:10px; margin-bottom:10px;"class="btn-group test">
            <button ng-if="me === true" type="button"  class="btn userButton" ng-click="editAccount()">Edit</button>
            <button type="button"  class="btn userButton">Followers</button>
            <button type="button"  class="btn userButton">Following</button>
            <button data-toggle="collapse" data-target="#playlist" type="button"  class="btn userButton">Lister les playlists</button>
          </div>
        </div>
        <div class="information playlist" style="border-top:1px solid black; padding:10px;">
          <h2>Playlist Administrés par {{user.usr_login}}</h2>
          <table class="notifTable">
            <tbody ng-repeat="x in playlists">
              <tr>
                <td ng-click="redirectTo('playlist', x.playlist_id)">{{x.playlist_name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
  </div>
</body>
