<br>
<!-- end row -->
<div class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse" style="margin-bottom:50px">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                </div>
                <h4 class="panel-title"><%= translate('user', 'title') %></h4>
            </div>
            <div class="panel-body">
              Ketamine
              <br>
              {{ user_login }}
              <br>

              <button ng-if='followed === true' ng-click='unFollow()'>unFollow</button>
              <button ng-if='followed === false' ng-click='Follow()'>Follow</button>
          </div>
        </div>
        <!-- end panel -->
    </div>
    <!-- end col-12 -->
</div>
<!-- end row -->
