<!DOCTYPE html>
<html>
  <head>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/footer.css" rel="stylesheet" media="all" type="text/css">
  </head>
<body ng-controller="footerController">
  <div class="left">
    <button id="boutonCGU" align="left"><a href="http://www.footmercato.net/">CGU</a></button>
  </div>

  <div class="main">
    <button id="boutonTelechargement" align="left"><a href="http://www.footmercato.net/">Dowload Plug/Soft</a></button>
  </div>

  <div id="footerLogo">
    <a target="_blank"><img  src="/images/logo.png" style="width:65px;height:65px;">
    </div>
</body>
</html>
