<html lang="fr" ng-app="PspHeader">
  <head>
    <meta charset="utf-8" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <script src="/controller/homeController.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/header.css" rel="stylesheet" media="all" type="text/css">
    <!-- SCROLLS -->
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />

 <!-- SPELLS -->
 <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-route.js"></script>
  </head>
  <body ng-controller="headerController">
      <ul id="header-right" class="col-sm-12">
        <div id="logo" class="col-sm-6"><img  src="/images/logo2.png" style="width:80px;height:70px;"></div>
        <div id="dropdown" class="col-sm-4">
          <div class="col-sm-6">
          <button class="dropbtn">Gestion des ressources
            <i class="fa fa-caret-down"></i>
          </button>
         <div class="dropdown-content">
           <a href="#">Amis</a>
           <a href="#">playlist</a>
           <a href="#">favoris</a>
         </div>
       </div>
       </div>
       <div id="searchthis" class="col-sm-2">
         <form action="/search"  method="get">
           <input id="search" name="q" type="text" placeholder="Rechercher" />
           <input id="search-btn" type="submit" value="Rechercher" />
         </form>
       </div>
       <div id="notif" class="col-sm-6"><img  src="/images/music.jpg" style="width:80px;height:70px;"></div>
        <div id="interogation" class="col-sm-6"><img  src="/images/point.jpg" style="width:65px;height:65px;"></div>
      <div id="france" class="col-sm-6"><img  src="/images/france.png" style="width:50px;height:56px;"></div>
      <div id="myAccount" class="col-sm-6"><img  src="/images/myAccount.png" style="width:45px;height:56px;"></div>
      </ul>
  </body>
  <footer>
  </footer>
</html>
